---
const platform = "github";
const username = "franciscorojas27";
---

<footer>
  <p>
    ¡Más información sobre mis proyectos en <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer">{platform}</a
    >!
  </p>
</footer>
