---
import AboutMe from "@components/AboutMe.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import Skills from "@components/Skills.astro";
import Contact from "@components/Contact.astro";
import SectionContainer from "./SectionContainer.astro";
---

<main class="max-w-7xl mx-auto px-6 py-8">
  <!-- Sección de Introducción -->
  <SectionContainer id="about" styles="mb-12 mt-8 pt-6">
    <AboutMe />
  </SectionContainer>
  <!-- Sección de Experiencia -->
  <SectionContainer id="experience">
    <Experience />
  </SectionContainer>
  <!-- Sección de Proyectos -->
  <SectionContainer id="projects">
    <Projects />
  </SectionContainer>
  <!-- Sección de Habilidades -->
  <SectionContainer id="skills">
    <Skills />
  </SectionContainer>
  <!-- Sección de Contacto -->
  <SectionContainer id="contact">
    <Contact />
  </SectionContainer>
</main>
