---
interface Props {
  features: string[];
}
const { features } = Astro.props;
---
<ul class="space-y-1">
    {
        features.map((feature: string) => (
            <li class="text-slate-400 text-xs flex items-center gap-2">
                <span class="text-green-400">•</span>
                <span>{feature}</span>
            </li>
        ))
    }
</ul>
