---
interface SkillCardProps {
  title: string;
  description: string;
}

const { title, description } = Astro.props as SkillCardProps;
---

<section
  class="bg-slate-800/40 backdrop-blur border border-slate-700/30 transition-all duration-300 lg:col-span-2 rounded-xl"
  aria-labelledby="bases-datos-title"
>
  <div class="p-4">
    <header class="pb-3">
      <h4
        id="bases-datos-title"
        class="text-lg text-white flex items-center gap-2 font-mono mb-1"
      >
        <slot name="icon" />
        <span>{title}</span>
      </h4>
      <p class="text-slate-400 text-sm">{description}</p>
    </header>
    <ul class="grid grid-cols-2 gap-2">
      <slot />
    </ul>
  </div>
</section>
